// 主题样式
.el-button + .el-button {
  margin-left: 8px;
}

.el-button.is-link.is-disabled {
  color: rgb(200, 201, 204);
  &:hover {
    color: rgb(200, 201, 204);
  }
}

// 弹框样式
.el-dialog {
  border-radius: 12px;
  width: 800px;
  .el-dialog__header {
    padding: 16px;
    padding-bottom: 0;
    height: 38px;
    box-sizing: border-box;
    margin: 0;
    .el-dialog__title {
      height: 22px;
      line-height: 22px;
    }
    .el-dialog__headerbtn {
      width: 16px;
      height: 16px;
      top: 16px;
      right: 16px;
    }
  }
  .el-dialog__body {
    padding: 16px 97px 24px 97px;
    min-width: 600px;
    ._dialog-form-button {
      margin-top: 24px;
      display: flex;
      justify-content: center;
    }
  }
}

.els-cards {
  height: 100%;
  .els-cards-header,
  .els-cards-footer {
    height: 64px;
    box-sizing: border-box;
  }
  .els-cards-header {
    border-bottom: 1px solid #ddd;
    padding: 16px;
  }
  .els-cards-body {
    width: 100%;
    height: calc(100% - 128px);
    &.no-footer {
      height: calc(100% - 64px);
    }
    min-height: 500px;
    overflow: auto;
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    // grid-template-columns: repeat(auto-fill, 381px);
    grid-template-columns: repeat(auto-fill, minmax(381px, 1fr));
    grid-template-rows: repeat(auto-fill, 146px);
    justify-content: space-between;
    gap: 16px;
    .cards-item {
      position: relative;
      height: 146px;
      min-width: 381px;
      background: #f4f6fd;
      border-radius: 12px;
      box-sizing: border-box;
      padding: 16px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 8px 32px 0px rgba(51, 51, 51, 0.15);
      }
      ._item-header {
        margin-bottom: 16px;
        height: 22px;
        width: calc(100% - 40px);
        display: flex;
        // justify-content: space-between;
        > b {
          color: #333;
          line-height: 22px;
          // width: 230px;
          max-width: calc(100% - 68px);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 16px;
        }
        .el-tag {
          // margin-left:16px;
          border: none;
          height: 22px;
          border-radius: 2px;
          padding: 0 8px;
          &.el-tag--success {
            color: #21e098;
            background: rgba(33, 224, 152, 0.15);
            > span > b {
              background: #21e098;
            }
          }
          &.el-tag--danger {
            background: rgba(224, 52, 33, 0.15);
            color: #e03421;
            > span > b {
              background: #e03421;
            }
          }
          > span {
            font-size: 12px;
            font-weight: 500;
            display: flex;
            align-items: center;
            > b {
              margin-right: 4px;
              width: 8px;
              height: 8px;
              border-radius: 8px;
            }
          }
        }
      }
      ._item-button {
        width: 32px;
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 0;
        z-index: 999;
        &:hover {
          ._fire {
            display: none;
          }
          ._btn {
            display: block;
          }
        }
        ._btn {
          display: none;
        }
        > .el-button {
          margin: 0;
          width: 100%;
          height: 32px;
          font-size: 18px;
          background: #fff;
          border-radius: 0;
          color: #2150e0;
          border: none;
          box-sizing: border-box;
          &._fire {
            background: transparent;
            color: #333;
            height: 24px;
          }

          &:hover {
            background: #2150e026;
          }
          > span {
            display: none;
          }
        }
      }
      ._item-text {
        color: #333333;
        height: 20px;
        &:not(:first-child) {
          margin-top: 8px;
        }
        > * {
          line-height: 20px;
        }
        > i {
          font-style: normal;
          font-size: 14px;
          font-weight: 400;
          color: rgba(51, 51, 51, 0.65);
        }
        > span {
          font-size: 14px;
          font-weight: 500;
        }
        > ._tag-status {
          clip-path: polygon(10px 0, 100% 0, 100% 100%, 10px 100%, 0% 50%);
          border: none;

          height: 20px;
          padding-left: 12px;
          padding-right: 8px;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
  }
  .els-cards-footer {
    border-top: 1px solid #ddd;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    .el-pagination {
      padding: 0;
    }
  }
}

._sem-dialog {
  .el-dialog__body {
    ._dialog-form {
      width: 600px;
      .el-form-item {
        margin-bottom: 16px;
      }
      ._form-hz {
        margin-bottom: 8px;
        .el-form-item__error {
          margin-top: 30px;
        }
      }
      .el-alert {
        width: auto;
        margin-left: 160px;
        font-size: 12px;
        padding: 4px 8px;
        margin-bottom: 16px;
        background: #2150e01a;
        border-radius: 2px;
        .el-icon {
          font-size: 12px;
          width: 16px;
          height: 16px;
          color: #2150e0;
        }
        .el-alert__content {
          padding: 0 4px;
        }
        p {
          margin: 0;
          color: #333333;
        }
      }
    }
  }
}

.els-table {
  .et--operate {
  }
  .et--table {
    .el-table {
      .el-table__inner-wrapper {
        &::before {
          display: none;
        }
      }
      .el-table__header-wrapper {
        background: #eef1fd;
        border-radius: 8px;
        tr,
        th.el-table__cell {
          background: transparent;
          border: none;
        }
        th.el-table__cell > .cell {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
          line-height: 32px;
        }
      }
      .el-table__body-wrapper {
        .el-table__row {
          border-radius: 8px;
          overflow: hidden;
          &:nth-child(2n) {
            > td {
              background: #f4f6fd;
            }
          }
          &:nth-child(2n + 1) {
            > td {
              background: #fff;
            }
          }
          > td {
            background: transparent;
            border: none;

            &:first-child {
              // border-radius:8px;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }
            &:last-child {
              // border-radius:8px;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
            > .cell {
              font-size: 14px;
              font-family: Helvetica;
              color: #333333;
              line-height: 32px;
            }

            .el-button._table-menu-item {
              margin: 0;
              &:nth-child(n + 2) {
                &::before {
                  content: "";
                  height: 12px;
                  width: 1px;
                  display: inline-block;
                  margin: 0 8px;
                  background: #ddd;
                }
              }
            }
          }
        }
      }
    }
  }
  .et--pagination {
    .el-pagination {
      justify-content: flex-end;
    }
  }
}

// 二级表格页面样式
.page-level-2-table {
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  > ._header {
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
    height: 58px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .el-button {
      background: #2150e0;
      color: white;
      border: none;
      height: 26px;
      &:hover {
        background: #2150e0aa;
      }
    }
    span {
      font-size: 18px;
      margin-left: 16px;
      color: #333333;
    }
  }
  > ._body {
    width: 100%;
    padding: 16px 0;
    height: calc(100% - 58px);
    box-sizing: border-box;
  }

  .els-table {
    .et--operate {
      padding-bottom: 8px;
      ._operate {
        width: 100%;
      }
      ._layout-tip {
        width: 100%;
        height: 40px;
        background: #dee5fb;
        margin-top: 16px;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        span {
          height: 100%;
          line-height: 40px;
          font-size: 14px;
          color: #333333;
        }
        ._flag {
          width: 4px;
          background: #2150e0;
        }
        ._name {
          margin-left: 12px;
        }
        ._type {
          margin-left: 120px;
        }

        i {
          font-style: normal;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  // background-color:#F5F5F533;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  // background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #55555533;
  &:hover {
    background-color: #555555aa;
    cursor: pointer;
  }
}
