.theme-default{
  color:#333;
  .layout--header{
    ._header{
      background:rgba(0,0,0,.5);
      &:hover{
        backdrop-filter: blur(10px);
        // background:blue;
        
      }
      ._logo{}
      ._title{}
      .els-menu{
        >._menu-item{
          cursor: pointer;
          transition: all .5s;
          line-height:64px;
          padding:0 10px;
          &.is-active{
            padding:0 15px;
            >._text{
              font-size:20px;
              font-weight: bold;
              color:white;
            }
          }
          >._text{
            transition: all .5s;
          }
          >._bg{
            transition: all .5s;
            position:absolute;
          }
          &:hover{
            padding:0 15px;
            >._text{
              font-size:20px;
              font-weight: bold;
              color:white;
            }
            >._bg{
              width:100%;
            }
          }
        }
      }
    }
  }
  .hover-items{
    .ts-5 {
      transition: all .5s linear;
    }
    .ts-10{
      transition: all 1s linear;
    }

    .ts-20{
      transition: all 2s linear;
    }
    
    // .em-2,.em-3,.bold-item.fade-item,.scale-item-1,.scale-item-2,.scale-item-3,.scale-item-4,.scale-item-5,.scale-item-10{
    //   transition: all 1s linear;
    // }
    //
    &:hover .scale-item--2{
      transform: scale(0.8);
    }
    &:hover .scale-item--1{
      transform: scale(0.9);
    }
    &:hover .scale-item-1{
      transform: scale(1.1);
    }
    &:hover .scale-item-2{
      transform: scale(1.2);
    }
    &:hover .scale-item-3{
      transform: scale(1.3);
    }
    &:hover .scale-item-4{
      transform: scale(1.4);
    }
    &:hover .scale-item-5{
      transform: scale(1.5);
    }
    &:hover .scale-item-10{
      transform: scale(2);
    }
    .fade-item{
      opacity: 0;
    }
    
    &:hover .fade-item{
      opacity: 1;
    }

    &:hover .bold-item{
      font-weight: bold;
    }
    &:hover .em-2{
      font-size:2em;
    }
    &:hover .em-3{
      font-size:3em;
    }
    &:hover .h-primary{
      color:#409EFF;
    }
    &:hover .h-success{
      color:#67C23A;
    }
    &:hover .h-warning{
      color:#E6A23C;
    }
    &:hover .h-danger{
      color:#F56C6C;
    }
    &:hover .h-info{
      color:#909399;
    }
  }
}