// 主体样式
.theme-chenyujiao {
  width: 100vw;
  // height: 100vh;
  position: relative;
  background: #f4f6fd;
  > .layout--header {
    width: 100%;
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 99;
    background: #061E3B;
    .el-menu{
      border:none;
      .el-menu-item,.el-sub-menu{
        span{
          color:#fff;
        }
        &:hover,&.is-active{
          background:#1F73E0;
          >div{
            background:#1F73E0;
          }
          
        }
      }
    }
    
  }

  > .layout--content {
    width: 100%;
    // height:calc(100vh - 64px);
    // overflow: hidden;
  }

  > .layout--footer {
    height: 0;
  }
}
